h1{
    text-align: center;
}

.table-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 8px;
    border: 1px solid #000;
}

.filter-input{
    text-align: center;
}
